

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.banner{
    height: 60vh;
    background: url("../image/Rectangle 21.jpg");
    background-size: cover;

    .overlay{
        background-color: rgba(0, 0, 0, 0.275);
        width: 100%;
        height: 100%;
    }

    .mobile-navbar{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        img{
            width: 20%;
        }

        .hamburger-menu{
            z-index: 10;
            background: transparent;
            border-radius: 10%;
            width: 15%;
            height: 10%;
            border: 3px solid brown;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10%;
            position: fixed;
            top: 5px;
            right: 5px;

            .line{
                width: 70%;
                height: 3px;
                background-color: brown;
            }
        }
    }

    .nav{
        display: none;
    }
}

.about{
    .image{
        background: url("../image/Rectangle 14.jpg");
        background-size: cover;
        background-position: center;
        height: 50vh;
        display: flex;
        gap: 10px;
        justify-content: space-around;
        align-items: end;

        .purpose{
            width: 30%;
            margin-bottom: -60px;
            height: 5rem;
            background-color: brown;
            border: 3px solid white;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-weight: bolder;
        }
    }

    .text{
        height: 50vh;
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h3{
            font-size: 2rem;
            color: brown;
        }

        .text-one{
            font-weight: bold;
            
            span{
                color: brown;
                line-height: 20px;
            }
        }

        div{
               
            button{
                padding: 13px 40px;
                background-color: transparent;
                border: 2px solid brown;
                color: brown;
                font-weight: bold;
            }
        }
    }
}


.projects{
    .text{
        background-color: brown;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2{
            color: #fff;
            font-size: 2rem;
        }

        .icons{
            display: flex;
            gap: 10px;

            img{
                height: 10px;
            }
        }
    }

    .image{
        padding-top: 30px;
        .images-one{
            background-color: brown;
            display: flex;
            
            
            .img{
                position: relative;
                

                img{
                    width: 99.9%;
                }
                p{
                    position: absolute;
                    z-index: 5;
                    bottom: 20px;
                    left: 10px;
                    font-weight: bolder;
                    color: #fff;
                }
               }
        }
    }
}

.donate{
    height: 60vh;
    width: 100%;
    background: url('../image/pexels-cdc-3992949 1.jpg') no-repeat;
    background-size: cover;

    .overlay{
        width: 100%;
        height: 60vh;
        background: rgba(0, 0, 0, 0.441);
        
        .container{
            height: 60vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            color: #fff;
        }

        p{
            font-size: 1.5rem;
        }

        .form{
            display: flex;
            gap: 10px;
            
            input[type='text']{
                background: transparent;
                color: #fff;
                padding-right: 20px;
                border: 2px solid white;
            }
            input::placeholder{color: white; font-weight: bolder;}
            button{
                background-color: brown;
                color: #fff;
                border: none;
                padding: 0px 40px;
                font-weight: bold;
            }
        }
    }
}

.responsible{
    .text{
        border: 2px solid brown;
        width: 100%;
        text-align: center;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;

        .text-one{
            font-weight: bold;
        }
    }
}

.footer{
    background-color: #A40F1E;
    padding: 1rem;
    color: #fff;

    h3{
        font-size: 1.5rem;
    }

    .text{
        .radio{

            .text-one{
                display: flex;
                gap: 10px;

                p{
                    font-weight: bold;
                }
            }
            form{
                margin-top: 5px;
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
           
            .circle{
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background: #C4C4C4;
                display: flex;
                justify-content: center;
                align-items: center;

                .circle-one{
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background: #000;
                }
            }
        }
    }

    .links{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        div{
            display: flex;
            flex-direction: column;

            a{
                text-decoration: none;
                color: #fff;
            }
        }
    }

    .join{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .icons{
            display: flex;
            align-items: flex-start;
            gap: 10px;
        }
    }
}


/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {  

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {     
    
.projects{
margin-top: -200px;

}
  
.responsible{
    .text{
        padding: 2rem;
    }

}

.donate{
    .overlay{

        p{
            font-size: 4rem;
            width: 100%;
        }
        .form{
            
           button{
            padding: 15px 60px;
           }
           #name{
            padding-right: 20rem;
            
           }
        }


    }
}

.footer{
    .text{
        display: flex;

        .paragraph{
            width: 60%;
        }
    }
}


    .columns{
        display: flex;

        .links{
            width: 40%;
        }
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .banner{
        height: 100vh;
        background: url("../image/banner.jpg");
        background-position: center;

        .mobile-navbar{
            display: none;
        }

        .nav{
            display: block;
            padding-top: 7vh;
              .pc-nav{
                background-color: white;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                box-shadow: 2px 5px 10px black;
    
                ul{
                    display: flex;
                    gap: 40px;
                    align-items: center;

                    img{
                        height: 2.5rem;
                    }
                }
    
                .nav-icons{
                    width: 4rem;
                    height: 4rem;
                    background-color: brown;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
              }  
           }
       }

       .about{
        .image{
            height: 50vh;
            
            .purpose{
                height: 7rem;
            }
        }

        .text{
            margin-top: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

        }
       }

       .projects{
             margin-top: 50px;
        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;

            h2{
                font-size: 3em;
            }

            p{
                line-height: 30px;
                color: #fff;
            }

            .icons{
                display: flex;
                gap: 20px;

                img{
                    height: 50px;
                }
            }

        }

        .image{
            background-color: brown;
            padding-top: 3px;

            .images-one{
                display: flex;
                gap: 10px;
                

               .img{
                position: relative;

                img{
                    width: 103%;
                }
                p{
                    position: absolute;
                    z-index: 5;
                    bottom: 20px;
                    left: 10px;
                    font-weight: bolder;
                    color: #fff;
                }
               }
            }
        }
       }

       .donate{
        .overlay{
            p{
                font-size: 4rem;
                width: 75%;
            }
            .form{
               button{
                padding: 15px 60px;
               }
               #name{
                padding-right: 30rem;
                
               }
            }
        }
       }
       
       .responsible{
        .text{
            padding: 7rem;
            text-align: center;
        }
       }

       .footer{
        .text{
            display: flex;
            flex-direction: column;

            .radio{
                margin-top: 30px;
                display: flex;
                gap: 20px;
            }
        }

       }
       
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
   
    
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}
